/* Card */

.user {
    font-family: 'Open Sans', sans-serif;
    max-width: 576px;
}

.user__header {
    background-color: #00647e;
}

.user__body {
    padding: 40px 40px 25px;
    background-color: #00647e;
}

.user__footer {
    padding: 15px 40px;
}

/* Local */

.local {
    /* empty */
}

.local__dropdown--right {
    /* empty */
}

/* Form */

.form {
    /* empty */
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group__input--on-dark-color {
    height: 43px;
    padding: 5px 10px;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    color: rgba(51, 51, 51, 0.53);
    font-size: 15px;

    /* delete default input styling */
    border: none;
    outline: none;
    min-width: auto;
}

/* Checkbox */

.checkbox--distance-below {
    display: flex;
    padding-bottom: 10px;
}

.checkbox__input--on-dark-color {
    margin-right: 5px;
}

.checkbox__label--on-dark-color {
    color: #fff;
}

.checkbox__icon--on-dark-color {
    color: #fff;
}

.link--on-dark-color {
    color: #fff;
}

/* Button */

.btn--primary {
    display: flex;
    flex-direction: column;

    
    border-radius: 20px;
    background-color: #00647e;
}

.btn--primary__body {
    display: flex;
    flex-direction: column;

    /* height: 43px; */
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

@media screen and (min-with: 479px) {
    
    /* Button */

    .btn--primary {
        display: flex;
        flex-direction: row;
    }
}